body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
 
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  margin-top: 10px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #cc0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

button:hover {
  background-color: #ffeb3b;
  color: #000;
}

.error {
  color: red;
  text-align: center;
}

.error-input {
  border: 1px solid red;
}